<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="SyvainNowe.OpenLieroScreensaver" Name="Open Liero Screensaver" Manufacturer="Sylvain Nowé" Version="1.0.1">
    <MediaTemplate EmbedCab="yes"/>

    <StandardDirectory Id="TARGETDIR">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="OpenLiero Screensaver">
          <File Source="openliero.scr"/>
        </Directory>
      </Directory>
    </StandardDirectory>

    <Component Id="RegistryEntries" Guid="c4d41afc-1200-4f19-ae50-af6b20f7a07a">
        <RegistryKey Root="HKCU" Key="Control Panel\Desktop">
          <RegistryValue Type="string" Name="SCRNSAVE.EXE" Value="%ProgramFiles%\OPENLI~1\OPENLI~1.SCR"/>
          <RegistryValue Type="string" Name="ScreenSaveActive" Value="1"/>
          <RegistryValue Type="string" Name="ScreenSaveTimeOut" Value="300"/>
        </RegistryKey>
      </Component>
  </Package>
</Wix>